# API
PORT=3000
NODE_ENV="development"

# DATABASE
DATABASE_URL="postgresql://postgres:postgres@postgres:5432/api?schema=public"
E2E_DATABASE_URL="postgresql://postgres:postgres@postgres:5432/api_e2e?schema=public"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="api"

# SWAGGER DOCS AUTH
SWAGGER_USER="root"
SWAGGER_PASSWORD="toor"

# GEMINI
GEMINI_API_KEY=""
GEMINI_EMBEDDING_MODEL="gemini-embedding-001"
GEMINI_CHAT_MODEL="gemini-2.5-flash"

# OPENTELEMETRY
OTEL_SERVICE_NAME="rag-api"
OTEL_SERVICE_VERSION="1.0.0"
NEW_RELIC_LICENSE_KEY=""
NEW_RELIC_OTLP_ENDPOINT="https://otlp.nr-data.net:4318/v1/traces"
