# API
PORT=3000
NODE_ENV="development"

# DATABASE
DATABASE_URL="postgresql://postgres:postgres@postgres:5432/api?schema=public"
E2E_DATABASE_URL="postgresql://postgres:postgres@postgres:5432/api_e2e?schema=public"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="api"

# CACHE
REDIS_HOST="redis"
REDIS_PORT=6379

# SMTP SERVER
SMTP_HOST="smtp4dev"
SMTP_PORT=25
SMTP_FROM="noreply@api.com"

# SWAGGER DOCS AUTH
SWAGGER_USER="root"
SWAGGER_PASSWORD="toor"

# OPENTELEMETRY
OTEL_SERVICE_NAME="rag-api"
OTEL_SERVICE_VERSION="1.0.0"
NEW_RELIC_LICENSE_KEY=""
NEW_RELIC_OTLP_ENDPOINT="https://otlp.nr-data.net:4318/v1/traces"
